@mixin style {
  background-color: #213547;
  color: bisque;
}
html {
  @include style();
  body {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    p {
      white-space: break-spaces;
    }
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
